POSTGRES_DB=heimdall_test
POSTGRES_USER=heimdall
POSTGRES_PASSWORD=heimdall
POSTGRES_PORT=5432

BACKEND_PORT=4000
FRONTEND_PORT=3000
CORS_ORIGIN=http://localhost:3000,http://localhost:5173
DATABASE_URL=postgres://heimdall:heimdall@postgres:5432/heimdall_test

LOCAL_DATABASE_URL=postgres://heimdall:heimdall@localhost:5432/heimdall_test
